@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap');

@import "tailwindcss";

body {
  @apply bg-slate-900 text-slate-200 font-sans;
}
